@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-menu .active {
  @apply pb-1 border-b-2 border-solid border-orange-600 text-orange-600;
}

.navbar-menu li {
  @apply cursor-pointer hover:text-orange-600;
}

.explore-menu-list-item .active {
  @apply border-4 border-orange-600 rounded-full p-0.5;
}

.header {
  background: url('assets/header_img.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-content-item {
  @apply flex flex-col items-start gap-4;
}
